<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold
            {% if request.get_full_path == '/users/accounts/new/' %}
                text-info
            {% else %}
                text-primary
            {% endif %}">
		{% if request.get_full_path != '/users/accounts/new/' and request.get_full_path != '/users/archive/' %}
			Incomes - {{ date|date:"Y/M" }}
		{% elif request.get_full_path == '/users/accounts/new/' %}
			Accounts
        {% else %}
            Incomes
		{% endif %}
	</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="incomesAndAccountsDataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Name</th>
            {% if request.get_full_path != '/users/accounts/new/' %}<th>Amount</th>{% endif %}
            <th>Category</th>
            <th>{% if request.get_full_path != '/users/accounts/new/' %}Recurrent{% else %}Currency{% endif %}</th>
            <th>Date</th>
            {% if request.get_full_path == '/users/incomes/new/' or request.get_full_path == '/users/spendings/new/' or request.get_full_path == '/users/accounts/new/' %}
                <th>Delete/Update</th>
            {% endif %}
          </tr>
        </thead>
        <tfoot>
          <tr>
              <th>Name</th>
            {% if request.get_full_path != '/users/accounts/new/' %}<th>Amount</th>{% endif %}
            <th>Category</th>
            <th>{% if request.get_full_path != '/users/accounts/new/' %}Recurrent{% else %}Currency{% endif %}</th>
            <th>Date</th>
            {% if request.get_full_path == '/users/incomes/new/' or request.get_full_path == '/users/spendings/new/' or request.get_full_path == '/users/accounts/new/' %}
                <th>Delete/Update</th>
            {% endif %}
          </tr>
        </tfoot>
        <tbody>
          {% for object in objects %}
            <div class="row">
                <tr>
                    <td class="text-center">{{ object.name }}</td>
                    {% if request.get_full_path != '/users/accounts/new/' %}<td class="text-center">{{ object.amount }}</td>{% endif %}
                    <td class="text-center">{{ object.category }}</td>
                    <td class="text-center">
                        {% if request.get_full_path != '/users/accounts/new/' %}
                            {% if object.recurrent == True %}Yes{% else %}No{% endif %}
                        {% else %}
                            {{ object.currency }}
                        {% endif %}
                    </td>
                    <td class="text-center">{{ object.created_date|date:"F-d-Y" }}</td>
                    {% if request.get_full_path == '/users/incomes/new/' or request.get_full_path == '/users/accounts/new/' %}
                        <td class="text-center">
                            <a class="btn-circle bnt-sm btn-danger" data-toggle="modal" href="#incomeAndSpendingsDeleteModal{{ title }}{{ object.id }}" data-target="#incomeAndSpendingsDeleteModal{{ title }}{{ object.id }}"><i class="fas fa-trash"></i></a>
                            <a class="btn-circle bnt-sm btn-success ml-2" href="{{ object.update_url }}"><i class="fas fa-pen"></i></a>
                        </td>
                        {% include 'users/components/delete-object-modal.html' %}
                  {% endif %}
                </tr>
            </div>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
