{% extends 'users/base.html' %}
{% block content %}
	<div class="container">
		<form id="form-center" action="{% url 'add-income' %}" method="POST">
			{% csrf_token %}
			<div class="form-row">
			    <div class="form-group col-md-3">
			      <input type="text" class="form-control" name="income_name" placeholder="Income name">
			    </div>
			    <div class="form-group col-md-3">
			      <input type="text" class="form-control" name="income_amount" placeholder="Income amount">
			    </div>
			    <div class="form-group col-md-3">
			      <select name="income_category" class="form-control">
			        	<option value="Salary">Salary</option>
						<option value="Bonus">Bonus</option>
						<option value="Gift">Gift</option>
						<option value="Others">Others</option>
			      </select>
			    </div>
			    <div class="form-group col-md-3">
			    	<input type="checkbox" id="recurrent-income" name="recurrent_income" value="True">
			    	<label for="recurrent-income">Recurrent</label>
			    </div>
			    <div class="form-group col-md-12">
			    	<input type="submit" class="btn btn-primary btn-lg btn-block" value="Add Income">
			    </div>
			  </div>
		</form>
		<br>
		<hr>
		<!-- Content Row -->
		<div class="row">

			<div class="col-xl-6 col-md-6 mb-4">
		        <div class="card border-left-primary shadow h-100 py-2">
		            <div class="card-body">
		                <div class="row no-gutters align-items-center">
		                    <div class="col mr-2">
		                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Current Month Incomes ({{ currency }})</div>
		                        {% if total_incomes %}
		                        	<div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_incomes }}</div>
		                        {% else %}
		                        	<div class="h5 mb-0 font-weight-bold text-gray-800">0.0</div>
		                        {% endif %}
		                    </div>
		                    <div class="col-auto">
		                        <i class="fas fa-wallet fa-2x text-gray-300"></i>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>

		    <div class="col-xl-6 col-md-6 mb-4">
		        <div class="card border-left-warning shadow h-100 py-2">
		            <div class="card-body">
		                <div class="row no-gutters align-items-center">
		                    <div class="col mr-2">
		                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Last Month Incomes ({{ currency }})</div>
		                        {% if total_incomes_last_month %}
		                        	<div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_incomes_last_month }}</div>
		                        {% else %}
		                        	<div class="h5 mb-0 font-weight-bold text-gray-800">0.0</div>
		                        {% endif %}
		                    </div>
		                    <div class="col-auto">
		                        <i class="fas fa-wallet fa-2x text-gray-300"></i>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>

		</div>

		<div class="card shadow mb-4">
            <div class="card-header py-3">
            	<h6 class="m-0 font-weight-bold text-primary">Incomes - {{ year }}/{{ month }}</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="IncomesdataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Amount</th>
                      <th>Category</th>
                      <th>Recurrent</th>
                      <th>Date</th>
                      <th>Remove</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Name</th>
                      <th>Amount</th>
                      <th>Category</th>
                      <th>Recurrent</th>
                      <th>Date</th>
                      <th>Remove</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% for income in incomes %}
                    	<div class="row">
                    		<tr>
                				<td>{{ income.name }}</td>
                				<td>{{ income.amount }}</td>
                				<td>{{ income.category }}</td>
	                    		{% if income.recurrent == True %}
                    				<td>Yes</td>
	                    		{% else %}
                    				<td>No</td>
	                    		{% endif %}
                    			<td>{{ income.date_created|date:"F-d-Y" }}</td>
                    			<td><a href="" class="btn-circle bnt-sm btn-danger"><i class="fas fa-trash"></i></a></td>
	                    	</tr>
                    	</div>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>


	</div>
{% endblock %}