{% extends 'users/base.html' %}
{% load widget_tweaks %}
{% block content %}
	<div class="container">
		<form id="form-center" action="" method="POST">
			{% csrf_token %}
			<div class="form-row">
				<div class="form-group col-md-4">
					{% render_field form.name class="form-control" placeholder=form.name.label %}
					<small class="text-xs font-weight text-primary">{{ form.name.help_text }}</small>
			    </div>
			    <div class="form-group col-md-4">
					{% render_field form.amount class="form-control" placeholder=form.amount.label %}
					<small class="text-xs font-weight text-primary">{{ form.amount.help_text }}</small>
			    </div>
			    <div class="form-group col-md-2">
					{% render_field form.category class="form-control" %}
					<small class="text-xs font-weight text-primary">{{ form.category.help_text }}</small>
			    </div>
			    <div class="form-group col-md-2">
					<div class="custom-control custom-checkbox small">
						{% render_field form.recurrent class="custom-control-input" id="recurrentObject" %}
						<label class="custom-control-label ml-2 mt-1" for="recurrentObject">Recurrent {{ title|slice:':-1' }}?</label>
                    </div>
			    </div>
			    <div class="form-group col-md-12">
			    	<input type="submit" class="btn btn-{{ color }} btn-lg btn-block" value="Add {{ title|slice:':-1' }}">
			    </div>
			</div>
		</form>
		<br>
		<hr>

		<div class="row">

			<div class="col-xl-6 col-md-6 mb-4">
		        <div class="card border-left-{{ color }} shadow h-100 py-2">
		            <div class="card-body">
		                <div class="row no-gutters align-items-center">
		                    <div class="col mr-2">
		                        <div class="text-xs font-weight-bold text-{{ color }} text-uppercase mb-1">Current Month {{ title }} ({{ currency }})</div>
		                        <div class="h5 mb-0 font-weight-bold text-gray-800">{% if total_sum %}{{ total_sum }}{% else %}0.0{% endif %}</div>
		                    </div>
		                    <div class="col-auto">
		                        <i class="fas {% if title == 'Incomes' %} fa-wallet {% elif title == 'Spendings' %} fa-credit-card {% endif %} fa-2x text-gray-300"></i>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>

		    <div class="col-xl-6 col-md-6 mb-4">
		        <div class="card border-left-warning shadow h-100 py-2">
		            <div class="card-body">
		                <div class="row no-gutters align-items-center">
		                    <div class="col mr-2">
		                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Last Month {{ title }} ({{ currency }})</div>
		                        <div class="h5 mb-0 font-weight-bold text-gray-800">{% if total_sum_last_month %}{{ total_sum_last_month }}{% else %}0.0{% endif %}</div>
		                    </div>
		                    <div class="col-auto">
		                        <i class="fas {% if title == 'Incomes' %} fa-wallet {% elif title == 'Spendings' %} fa-credit-card {% endif %} fa-2x text-gray-300"></i>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>

		</div>

		<div class="card shadow mb-4">
		  <div class="card-header py-3">
		  	<h6 class="m-0 font-weight-bold text-{{ color }}">{{ title }} - {{ date|date:"Y/d" }}</h6>
		  </div>
		  <div class="card-body">
		    <div class="table-responsive">
		      <table class="table table-bordered" id="incomesAndSpendingsDataTable" width="100%" cellspacing="0">
		        <thead>
		          <tr>
		            <th>Name</th>
		            <th>Amount</th>
		            <th>Category</th>
		            <th>Recurrent</th>
		            <th>Date</th>
		            <th></th>
		          </tr>
		        </thead>
		        <tfoot>
		          <tr>
		            <th>Name</th>
		            <th>Amount</th>
		            <th>Category</th>
		            <th>Recurrent</th>
		            <th>Date</th>
		            <th></th>
		          </tr>
		        </tfoot>
		        <tbody>
		          {% for object in objects %}
		          	<div class="row">
		          		<tr>
		      				<td>{{ object.name }}</td>
		      				<td>{{ object.amount }}</td>
		      				<td>{{ object.category }}</td>
		          			<td>{% if object.recurrent == True %}Yes{% else %}No{% endif %}</td>
		          			<td>{{ object.created_date|date:"F-d-Y" }}</td>
		          			<td>
								<a class="btn-circle bnt-sm btn-danger" data-toggle="modal" href="#incomeAndSpendingsDeleteModal{{ title }}{{ object.id }}" data-target="#incomeAndSpendingsDeleteModal{{ title }}{{ object.id }}"><i class="fas fa-trash"></i></a>
								<a class="btn-circle bnt-sm btn-success ml-2" href="{{ object.update_url }}"><i class="fas fa-pen"></i></a>
							</td>
							<div class="modal fade" id="incomeAndSpendingsDeleteModal{{ title }}{{ object.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
			  				  aria-hidden="true">
			  				  <div class="modal-dialog" role="document">
			  					  <div class="modal-content">
			  						  <div class="modal-header">
			  							  <h5 class="modal-title" id="exampleModalLabel">Delete "{{ object.name }}"?</h5>
			  							  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
			  								  <span aria-hidden="true">×</span>
			  							  </button>
			  						  </div>
			  						  <div class="modal-body">Select "Delete" if you want to delete "{{ object.name }}"</div>
			  						  <div class="modal-footer">
			  							  <form method="POST" action="{{ object.delete_url }}">
			  								  {% csrf_token %}
			  								  <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
			  								  <button type="submit" name="delete" class="btn btn-danger">Delete</button>
			  							  </form>
			  						  </div>
			  					  </div>
			  				  </div>
			  			  </div>
						</tr>
		          	</div>
		          {% endfor %}
		        </tbody>
		      </table>
		    </div>
		  </div>
		</div>
	</div>
{% endblock %}
