<div class="card shadow mb-4">
  <div class="card-header py-3">
  	<h6 class="m-0 font-weight-bold text-primary">Incomes - {{ year }}/{{ month }}</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="IncomesdataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Recurrent</th>
            <th>Date</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Recurrent</th>
            <th>Date</th>
            <th>Remove</th>
          </tr>
        </tfoot>
        <tbody>
          {% for object in objects %}
          	<div class="row">
          		<tr>
      				<td>{{ object.name }}</td>
      				<td>{{ object.amount }}</td>
      				<td>{{ object.category }}</td>
            		{% if object.recurrent == True %}
          				<td>Yes</td>
            		{% else %}
          				<td>No</td>
            		{% endif %}
          			<td>{{ object.created_date|date:"F-d-Y" }}</td>
          			<td><a href="" class="btn-circle bnt-sm btn-danger"><i class="fas fa-trash"></i></a></td>
            	</tr>
          	</div>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>