{% extends 'users/base.html' %}
{% load widget_tweaks %}
{% block content %}
	<div class="container">
		<form id="form-center" action="" method="POST">
			{% csrf_token %}
			<div class="form-row">
				<div class="form-group col-md-4">
					{% render_field form.name class="form-control" placeholder=form.name.label %}
					<small class="text-xs font-weight text-primary">{{ form.name.help_text }}</small>
			    </div>
			    <div class="form-group col-md-4">
					{% render_field form.amount class="form-control" placeholder=form.amount.label %}
					<small class="text-xs font-weight text-primary">{{ form.amount.help_text }}</small>
			    </div>
			    <div class="form-group col-md-2">
					{% render_field form.category class="form-control" %}
					<small class="text-xs font-weight text-primary">{{ form.category.help_text }}</small>
			    </div>
			    <div class="form-group col-md-2">
					<div class="custom-control custom-checkbox small">
						{% render_field form.recurrent class="custom-control-input" id="recurrentObject" %}
						<label class="custom-control-label ml-2 mt-1" for="recurrentObject">Recurrent {{ title|slice:':-1' }}?</label>
                    </div>
			    </div>
			    <div class="form-group col-md-12">
			    	<input type="submit" class="btn btn-{{ primary_color }} btn-lg btn-block" value="Add Income">
			    </div>
			</div>
		</form>
		<br>
		<hr>

		<div class="row">

			<div class="col-xl-6 col-md-6 mb-4">
		        <div class="card border-left-{{ primary_color }} shadow h-100 py-2">
		            <div class="card-body">
		                <div class="row no-gutters align-items-center">
		                    <div class="col mr-2">
		                        <div class="text-xs font-weight-bold text-{{ primary_color }} text-uppercase mb-1">Current Month {{ title }} ({{ currency }})</div>
		                        {% if total_sum %}
		                        	<div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_sum }}</div>
		                        {% else %}
		                        	<div class="h5 mb-0 font-weight-bold text-gray-800">0.0</div>
		                        {% endif %}
		                    </div>
		                    <div class="col-auto">
		                        <i class="fas {% if title == 'Incomes' %} fa-wallet {% elif title == 'Spendings' %} fa-credit-card {% endif %} fa-2x text-gray-300"></i>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>

		    <div class="col-xl-6 col-md-6 mb-4">
		        <div class="card border-left-warning shadow h-100 py-2">
		            <div class="card-body">
		                <div class="row no-gutters align-items-center">
		                    <div class="col mr-2">
		                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Last Month {{ title }} ({{ currency }})</div>
		                        {% if total_sum_last_month %}
		                        	<div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_sum_last_month }}</div>
		                        {% else %}
		                        	<div class="h5 mb-0 font-weight-bold text-gray-800">0.0</div>
		                        {% endif %}
		                    </div>
		                    <div class="col-auto">
		                        <i class="fas {% if title == 'Incomes' %} fa-wallet {% elif title == 'Spendings' %} fa-credit-card {% endif %} fa-2x text-gray-300"></i>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>

		</div>

		<div class="card shadow mb-4">
		  <div class="card-header py-3">
		  	<h6 class="m-0 font-weight-bold text-{{ primary_color }}">{{ title }} - {{ date|date:"Y/d" }}</h6>
		  </div>
		  <div class="card-body">
		    <div class="table-responsive">
		      <table class="table table-bordered" id="incomesAndSpendingsdataTable" width="100%" cellspacing="0">
		        <thead>
		          <tr>
		            <th>Name</th>
		            <th>Amount</th>
		            <th>Category</th>
		            <th>Recurrent</th>
		            <th>Date</th>
		            <th>Remove</th>
		          </tr>
		        </thead>
		        <tfoot>
		          <tr>
		            <th>Name</th>
		            <th>Amount</th>
		            <th>Category</th>
		            <th>Recurrent</th>
		            <th>Date</th>
		            <th>Remove</th>
		          </tr>
		        </tfoot>
		        <tbody>
		          {% for object in objects %}
		          	<div class="row">
		          		<tr>
		      				<td>{{ object.name }}</td>
		      				<td>{{ object.amount }}</td>
		      				<td>{{ object.category }}</td>
		            		{% if object.recurrent == True %}
		          				<td>Yes</td>
		            		{% else %}
		          				<td>No</td>
		            		{% endif %}
		          			<td>{{ object.created_date|date:"F-d-Y" }}</td>
		          			<td><a href="" class="btn-circle bnt-sm btn-danger"><i class="fas fa-trash"></i></a></td>
		            	</tr>
		          	</div>
		          {% endfor %}
		        </tbody>
		      </table>
		    </div>
		  </div>
		</div>
	</div>
{% endblock %}
